.highscores-table {
    margin: auto;
    width: 50%;
    border-spacing: 10px;
    font-family: 'Comic Sans MS', sans-serif; /* This will change the font to Comic Sans */
  }
  
  .highscores-heading {
    text-align: center;
    color: red;
    font-size: 30px; /* This will make the title bigger */
    font-family: 'Comic Sans MS', sans-serif; /* This will change the font to Comic Sans */
  }
  
  .highscores-table td {
    text-align: center;
    font-size: 20px;
  }
  
  body {
    background-image: url('demo01_PixelSky.png'); /* Replace with the path to your image */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Comic Sans MS', sans-serif; /* This will change the font to Comic Sans */
  }
  
  .highscores-score {
    color: yellow;
    font-size: 20px;
}

.highscores-table th {
    font-size: 25px; /* Adjust this value to change the font size */
  }